
<div class="position-relative bgwarning h-75 my-5 m-lg-5 p-1 p-lg-5">
  <div class="position-absolute top-50 start-50 translate-middle col-12 col-lg-4 h-100 pt-5">

    <h3>Pay Electricity Bill</h3>
    <p></p>
    <hr>

    <div class="col-12 bglight h-100 pt-3">
      <form class="col-12" [formGroup]="electricityFormGroup" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Network </mat-label>
            <input matInput
            value="{{electricityFormGroup.controls['provider'].value}}"
            id="provider"
            formControlName="provider"
            >
          </mat-form-field>

          <mat-form-field class="col-12" appearance="legacy" >
            <mat-label>Package</mat-label>
            <mat-select formControlName="package" >
              <mat-option *ngFor="let package of packages"
              value="{{package.packageName}}"
              >{{package.packageName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12" appearance="legacy">
            <mat-label>Amount </mat-label>
            <input matInput
            type="number"
            id="amount"
            formControlName="amount"
            >
            <mat-error *ngIf="electricityFormGroup.invalid">{{getAmountError()}}</mat-error>
          </mat-form-field>

          <mat-form-field class=" col-12" appearance="legacy">
            <mat-label>Meter Nunber</mat-label>
            <input type="text" matInput
            maxlength="10"
            name="meterNo"
            id="meterNo"
            placeholder="555-555-1234"
            formControlName="meterNo"
            autocomplete="off">
            <mat-icon matSuffix>speed</mat-icon>
            <mat-error *ngIf="electricityFormGroup.invalid">Phone number {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <button mat-stroked-button
            color="primary"
            class="col-12 col-lg-12 my-2"
            type="submit"
            [disabled]="!electricityFormGroup.valid">Pay</button>

      </form>
    </div>
  </div>
</div>
