
<div class="position-relative bgwarning h-75 my-5 m-lg-5 p-1 p-lg-5">
  <div class="position-absolute top-50 start-50 translate-middle col-12 col-lg-4 h-100 pt-5">

    <h3>Buy {{ isp }} Internet Plan</h3>
    <p></p>
    <hr>

    <div class="col-12 bglight h-100 pt-3">
      <form class="col-12" [formGroup]="internetFormGroup" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="legacy" class="col-12">
            <mat-label>Package</mat-label>
            <mat-select formControlName="package" id="network">
              <mat-option value="mtn">MTN</mat-option>
              <mat-option value="glo">GLO</mat-option>
              <mat-option value="9mobile">9mobile</mat-option>
              <mat-option value="airtel">AIRTEL</mat-option>
            </mat-select>
            <mat-error *ngIf="internetFormGroup.invalid">Package {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-12" appearance="legacy">
            <mat-label>Amount</mat-label>
            <mat-icon matPrefix>attach_money</mat-icon>
            <input type="number"
              name="amount"
              id="amount"
              matInput
              placeholder="$100"
              formControlName="amount"
              autocomplete="off">
              <mat-error *ngIf="internetFormGroup.invalid">An Amount {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field class="internetFormGroup-full-width col-12" appearance="legacy">
            <mat-label>Telephone Number or Custimers id</mat-label>
            <span matPrefix>+234 &nbsp;</span>
            <input type="tel" matInput
            maxlength="10"
            name="tel"
            id="tel"
            placeholder="555-555-1234"
            formControlName="tel"
            autocomplete="off">
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-error *ngIf="internetFormGroup.invalid">Phone number {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <button mat-stroked-button
            color="primary"
            class="col-12 col-lg-12 my-2"
            type="submit"
            [disabled]="!internetFormGroup.valid">Pay</button>

      </form>
    </div>
  </div>
</div>
