<mat-toolbar class="position-fixed">
  <button mat-stroked-button routerLink="/"><b>ONETOUCH</b></button>
  <span class="toolbar-spacer"></span>
  <!-- <button mat-icon-button class="toolbar favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button> -->
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="">
        <div id="mainBox">
          <section class="pt-5 h-100">
            <router-outlet></router-outlet>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

