<div class="d-flex justify-content-center">
  <h1>
    Pay Bills <b>ON  </b>One Touch
  </h1>
</div>

<div class="my-5 pt-5">
  <div class="col">
    <div class="d-flex justify-content-center">
      <i class="fa-solid fa-sim-card fa-3x p-2 fa-flip" style="--fa-animation-duration: 3s;"></i>
      <i class="fa-solid fa-tv fa-3x p-2 fa-shake"
        style="
        --fa-animation-duration: 7s;
        --fa-beat-fade-opacity: 0.1;
        --fa-beat-fade-scale: 1.25;"
        ></i>
    </div>
    <div class="my-5">
      <div class="d-flex justify-content-center">
        <i class="fa-solid fa-gamepad fa-3x p-2 fa-spin"></i>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <i class="fa-solid fa-wifi fa-3x p-2 fa-bounce"></i>
      <i class="fa-solid fa-lightbulb fa-3x p-2 fa-beat-fade" style="--fa-animation-duration: 2s;" ></i>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center">
  <button mat-stroked-button color="primary" class="col-12 col-lg-4" routerLink="/login" >Get started</button>
</div>

