
<div class="position-relative bgwarning h-75 my-5 m-lg-5 p-1 p-lg-5">
  <div class="position-absolute top-50 start-50 translate-middle col-12 col-lg-4 h-100 pt-5">

    <h3>Buy Airtime</h3><hr>

    <div class="col-12 bglight h-100 pt-5">
      <form class="col-12" [formGroup]="airtime" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Network </mat-label>
            <input matInput
            value="{{airtime.controls['network'].value}}"
            id="network"
            formControlName="network"
            >
          </mat-form-field>

          <mat-form-field class="col-12" appearance="legacy">
            <mat-label>Amount</mat-label>
            <input type="number"
              name="amount"
              id="amount"
              matInput
              placeholder="100"
              formControlName="amount"
              autocomplete="off">
              <mat-hint>Amount in Naira</mat-hint>
              <mat-error *ngIf="airtime.invalid">An Amount {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field class="airtime-full-width col-12" appearance="legacy">
            <mat-label>Telephone Number</mat-label>
            <span matPrefix>+234 &nbsp;</span>
            <input type="tel" matInput
            maxlength="10"
            name="tel"
            id="tel"
            placeholder="555-555-1234"
            formControlName="tel"
            autocomplete="off">
            <mat-icon matSuffix>call</mat-icon>
            <mat-error *ngIf="airtime.invalid">Phone number {{ erroMessage() }}</mat-error>
          </mat-form-field>

          <button mat-stroked-button
            color="primary"
            class="col-12 col-lg-12 my-2"
            type="submit"
            [disabled]="!airtime.valid">Pay</button>
      </form>
    </div>
  </div>
</div>
