<div class="d-flex justify-content-center pt-5">
  <h1>
    Pay Bills <b>ON  </b>One Touch
  </h1>
</div>

<div class=" pt-2 h-75">
  <div class=" h-100">


    <div class="d-flex justify-content-center">
      <mat-selection-list #payment [multiple]="false">
        <mat-list-option *ngFor="let payment of payments" [value]="payment">
          {{ payment.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="d-flex justify-content-center py-3 px-3">
      <mat-chip-list
            class="subServices-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
            >
              <mat-chip *ngFor="let provider of payment.selectedOptions.selected[0]?.value.packages" routerLink='/{{payment.selectedOptions.selected[0]?.value.route}}/{{provider.serviceRoute}}' >
                {{ provider.serviceName }}
              </mat-chip>
            </mat-chip-list>
    </div>

  </div>
</div>


